* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.plan__title {
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

.plan__form {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
}

.plan__input {
  padding: 15px 20px;
  font-size: 24px;
  border-radius: 24px;
  border: 2px solid #ced4da;
  outline: none;
}

.plan__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.red {
  border: 2px solid #b02a37;
}
.red:focus {
  color: #212529;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.red::-webkit-input-placeholder {
  color: red;
}

.plan__btn,
.plan__date {
  padding: 15px 25px;
  font-size: 20px;
  border: none;
  border-radius: 24px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

.plan__date {
  grid-column: span 2;
}

.plan-list__box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.plan-list__item {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px;
  box-shadow: -2px 2px 2px inset #00000055, 1px -1px 2px inset #00000016;
  border-radius: 8px;
}

.plan-list__box {
  gap: 15px;
}

.plan-list__text {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: normal;
}

.plan-list__subtext {
  font-size: 14px;
  color: #898585;
}

.plan-list__btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.plan-list__btn {
  display: block;
  background: #b2fefa;
  background: -webkit-linear-gradient(to right, #0ed2f7, #b2fefa);
  background: linear-gradient(to right, #0ed2f7, #b2fefa);

  color: #ffffff;
  width: 55px;
  height: 55px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.plan-list__btn:nth-child(2) {
  background: #ffb347;
  background: -webkit-linear-gradient(to top, #ffcc33, #ffb347);
  background: linear-gradient(to top, #ffcc33, #ffb347);
}

.plan-list__btn:last-child {
  background: #ed213a;
  background: -webkit-linear-gradient(to left, #93291e, #ed213a);
  background: linear-gradient(to left, #93291e, #ed213a);
}

.plan-list__btn:before {
  content: "";
  display: block;
  background: #b2fefa;
  position: absolute;
  width: 65px;
  height: 65px;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -5;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #b2fffa;
}

.plan-list__btn:nth-child(2):before {
  box-shadow: inset 0px 8px 48px #ffb347;
}


.plan-list__btn:last-child::before {
  box-shadow: inset 0px 8px 48px #ed214a;
}

.plan-list__btn:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.plan-list__input {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 24px;
  border: 2px solid #ced4da;
  outline: none;
}

.plan-list__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}